<!DOCTYPE HTML>
<html>
<head>
    <title>学无止尽 — {$conf.title}</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="{$conf.keywords}">
    <meta name="description" content="{$conf.title}">
    <LINK rel="Bookmark" href="__PUBLIC__index/h.png">
    <LINK rel="Shortcut Icon" href="__PUBLIC__index/h.png"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__index/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__index/plugin/Hui-iconfont/1.0.8/iconfont.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__index/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__index/plugin/pifu/pifu.css"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    function showSide() {
        $('.navbar-nav').toggle();
    }</script>
    <style>
        .page ul{
            width: 100%;
            text-align: center;
            margin-top: 25px;
            font-size: 14px;
        }
        .page li{
            margin: 5px;
            display: inline;
            border: 1px solid #ccc;
            padding: 8px;
            background: #fff;
        }
        .page{
            height: 40px;
            margin-bottom: 10px;
        }
        .disabled{
            cursor: no-drop;
            color: #ccc;
        }
        .active{
            color: blue;
        }
        .mt-20{
            margin-top: 0;
        }
        #self-section{
            margin-top: 20px;
        }
    </style>
</head>
<body>
{include file="Public/header"}

<!--导航条-->
<nav class="breadcrumb">
    <div class="container">
        <i class="Hui-iconfont">&#xe67f;</i><a href="index" class="c-primary">首页</a>
        {if condition="isset($cateName)"}
        <span class="c-gray en">&gt;</span> 栏目云
        <span class="c-gray en">&gt;</span> <span class="c-gray"><i class="Hui-iconfont">&#xe64b;</i> {$cateName}</span>
        {else /}
        <span class="c-gray en">&gt;</span> 学无止境
        {/if}
    </div>
</nav>

<section class="container" id="self-section">
    <!--left-->
    <div class="col-sm-9 col-md-9 mt-20">

        <!--article list-->
        <ul class="index_arc">
            {volist name="art" id="a"}
                {if condition="$a['articlePic'] neq null"}
                    <li class="index_arc_item">
                        <a href="article?aid={$a.articleId}" class="pic">
                            <img class="lazyload" data-original="__PUBLIC__{$a.articlePic}" alt="应该选"/>
                        </a>
                        <h4 class="title"><a href="article?aid={$a.articleId}">{$a.articleTitle}</a></h4>
                        <div class="date_hits">
                            <span>{$a.ator}</span>
                            <span><?php echo mb_substr($a['addTime'],0,10,'utf-8') ; ?></span>
                            <span>{$a.cateName}</span>
                            <p class="hits">
                                <i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {$a.articleClicks}°
                            </p>
                            <p class="commonts">
                                <i class="Hui-iconfont" title="评论量">&#xe622;</i>
                                <span class="cy_cmt_count">{$a.articleComments}</span>
                            </p>
                        </div>
                        <div class="desc">
                            <?php echo mb_strlen(strip_tags($a['articleContent']),'utf-8') > 120 ? mb_substr(strip_tags($a['articleContent']),0,120,'utf-8').' . . . ' : strip_tags($a['articleContent']) ;?>
                        </div>
                    </li>

                {else /}

                    <li class="index_arc_item no_pic">
                        <h4 class="title"><a href="article?aid={$a.articleId}">{$a.articleTitle}</a></h4>
                        <div class="date_hits">
                            <span>{$a.ator}</span>
                            <span><?php echo mb_substr($a['addTime'],0,10,'utf-8') ; ?></span>
                            <span>{$a.cateName}</span>
                            <p class="hits">
                                <i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {$a.articleClicks} °
                            </p>
                            <p class="commonts">
                                <i class="Hui-iconfont" title="评论量">&#xe622;</i>
                                <span id="sourceId::105" class="cy_cmt_count">{$a.articleComments}</span>
                            </p>
                        </div>
                        <div class="desc">
                            <?php echo mb_strlen(strip_tags($a['articleContent']),'utf-8') > 180 ? mb_substr(strip_tags($a['articleContent']),0,180,'utf-8').' . . . ' : strip_tags($a['articleContent']) ;?>
                        </div>
                    </li>
                {/if}
            {/volist}

        </ul>
        <div class="text-c mb-20 page" id="moreBlog">
            {$art -> render()}
            <!--<a class="btn  radius btn-block " href="javascript:;" onclick="moreBlog('${blogType.id}','${tag.name}');">点击加载更多</a>
            <a class="btn  radius btn-block hidden" href="javascript:;">加载中……</a>-->
        </div>
    </div>
    {include file="Public/right"}

</section>
{include file="Public/footer"}

<script type="text/javascript" src="__PUBLIC__index/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__index/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__index/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__index/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="__PUBLIC__index/js/common.js"></script>
<script> $(function () {
    $(window).on("scroll", backToTopFun);
    backToTopFun();
}); </script>
<script>
    $(function () {
//标签
        $(".tags a").each(function () {
            var x = 9;
            var y = 0;
            var rand = parseInt(Math.random() * (x - y + 1) + y);
            $(this).addClass("tags" + rand)
        });

        $("img.lazyload").lazyload({failurelimit: 3});
    });

</script>
<script type="text/javascript" src="__PUBLIC__index/plugin/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
<script>
    $(function () {
//幻灯片
        jQuery(".slider_main .slider").slide({
            mainCell: ".bd ul",
            titCell: ".hd li",
            trigger: "mouseover",
            effect: "leftLoop",
            autoPlay: true,
            delayTime: 700,
            interTime: 2000,
            pnLoop: true,
            titOnClassName: "active"
        })
//tips
        jQuery(".slideTxtBox").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            autoPage: true,
            effect: "top",
            autoPlay: true
        });
//标签
        $(".tags a").each(function () {
            var x = 9;
            var y = 0;
            var rand = parseInt(Math.random() * (x - y + 1) + y);
            $(this).addClass("tags" + rand)
        });

        $("img.lazyload").lazyload({failurelimit: 3});
    });

</script>
</body>
</html>
